# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual env
venv/

# environment variables
.env

# user data (tinydb)
data/DB/*
!data/DB/README.md

# images
data/images/*
!data/images/README.md

# thumbs
data/imagesThumbs/*
!data/imagesThumbs/README.md