#yearsLocationsContainer{
    width: 700px;
    min-height: 400px;
    height: auto;
    border-style: solid;
    border-color: white;
    border-radius: 5%;
    background-image: url('../images/footer_lodyas.png');
}


.year-location-box{
    width: 100px;
    height: 100px;

    background-color: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10%;

    /* layout */
    float:left;

    /* font */
    font-size: 20px;
    font-weight: 700;

    /* align text in the center of div (one line), line-height = height*/
    text-align: center;
    vertical-align: middle;
    line-height: 100px;   

    /* animation */
    transition: transform .2s;

    cursor: pointer;
}

/* animation*/
.year-location-box:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}