#footer {
    position: fixed;
    /* height 2% */
    height: 30px; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fafffd;
    color: black;
    text-align: center;
    box-shadow: 0 -5px grey;
}