#imageContainer{
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.thumbnail{
    width: 80px;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

/* .drawer{
    width: 300;
    background-color: grey;
} */